extends ../layout/app.pug

block content
    form(action="session/entrance", method="post")
        legend Вход
            div 
                label(for="") Логин
            div 
                input(type="text", name="username") 
            div 
                label(for="") Пароль
            div 
                input(type="text", name="password") 
            
            button(type='submit') Войти