extends ../layout/app.pug

block content

    h3 Расчет водяного баланса
    form(action="/balance/calculation", method="post") 
        .form-group
            h5 Пол
            .form-check
                input.form-check-input(type="radio" id="flexRadioDefault1" name="gender" value="man")
                label.form-check-label(for="flexRadioDefault1") Мужчина
            .form-check
                input.form-check-input.checked(type="radio" id="flexRadioDefault1" name="gender" value="women" checked)
                label.form-check-label(for="flexRadioDefault1") Женщина
        .form.group 
            h5 Физические параметры
            .form-floating.mb-3 
                input.form-control(type="text" name="weight" id="floatingInput" placeholder="Ваш вес")
                label(for="floatingInput") Вес (кг)
        .btn-toolbar(role="toolbar")
            button.submit.btn.btn-primary.btn-lg.mr-2(name='submit', type='submit', disabled='' style="margin-right: 10px;") Расчитать
            button.reset.btn.btn-secondary.btn-lg(name='reset', type='reset', disabled='') Очистить поля и расчет
        
    script(type="module")
        include ../../src/balance/application.js
    
    