extends ../layout/app.pug

block content
    if currentUser.isGuest()
        p Мы можем показать расчеты только авторизованным пользователям
        a.btn.btn-primary.btn-lg(href="/entrance" style="margin-right: 10px;") Войти
        a.btn.btn-secondary.btn-lg(href="/log") Зарегистрироваться
    else    
        if posts.length === 0
            p У вас еще нет расчетов
        else
            for calculation in calculations
                div.card.mb-3
                    div.card-header.text-primary.fw-normal.fs-3 #{post.title}
                    div.card-body
                        h5.card-title #{post.description}
                        p.card-text Автор: #{post.author}
                        a.btn.btn-primary(href=`/posts/${post.id}`) Читать 