extends ../layout/app.pug

block content 
    article
        h1
            | Счетчик калориев
        form.formParam(name='counter', action='#', method='post')
            legend
                | Пол
            ul(data-name='gender')
                li
                    input(type='radio', name='gender', data-gender='man', checked='checked')
                    label
                        | Мужчина
                li
                    input(type='radio', name='gender', data-gender='women')
                    label
                    | Женщина
            fieldset
                legend
                    | Физические параметры
                div
                    label Возраст 
                    span  (лет)
                div
                    input(name='age', type='text', placeholder='0')
                    
                div
                    label Рост
                    span  (см)
                div
                    input(name='height', type='text', placeholder='0')
                div
                    label Вес
                    span  (кг)
                div
                    input(name='weight', type='text', placeholder='0')
            fieldset
                legend
                    | Физическая активность
                ul
                    li
                        div
                            input.active(name='active', type='radio', data-active='min', checked='checked')
                            label
                                | Минимальная
                            p
                                | Сидячая работа и нет нагрузок
                    li
                        div
                            input(name='active', type='radio', data-active='low', checked='checked')
                            label
                                | Низкая
                            p
                                | Редкие нерегулярные тренировки, активность в быту
                    li
                        div
                            input(name='active', type='radio', data-active='average')
                            label
                                | Средняя
                            p
                                | Тренировки 3 - 5 раз в неделю
                    li
                        div
                            input(name='active', type='radio', data-active='high')
                            label
                                | Высокая
                            p
                                | Тренировки 6 - 7 раз в неделю
                    li
                        div
                            input(name='active', type='radio', data-active='huge')
                            label
                                | Очень высокая
                            p
                                | Больше 6 тренировок в неделю и физическая работа 
        button.submit(name='submit', type='submit', disabled='')
            | Расчитать
        button.reset(name='reset', type='reset', disabled='')
            span
                | Очистить поля и расчет
        
    script(type="module")
        include ../../src/calories/application.js