extends ../layout/app.pug

block content 
    h2 Пользователь #{currentUser.username}
    h3 #{currentUser.firstName} #{currentUser.lastName}

    div 
        span 
            a(href="#") Изменить логин
        span 
            a(href="#") Изменить фамилию
        span 
            a(href="#") Изменить пароль

    div 
        form(action="session?_method=DELETE", method="post")
            input(type="submit" value="Выйти")
        
        form(action="#" method="post")
            input(type="submit" value="Удалить аккаунт") 
        