extends ../layout/app.pug

block content 
    h2 Пользователь #{currentUser.username}
    h3 #{currentUser.firstName} #{currentUser.lastName}

    div 
        div
            form(action="users/username?_method=PUT", method="post") 
                input(type="text" name="newUsername" placeholder="Изменить логин")
                input(type="submit", value="Изменить")
        div
            form(action="users/firstname?_method=PUT", method="post") 
                input(type="text" name="firstName" placeholder="Изменить имя")
                input(type="submit", value="Изменить")
        div
            form(action="", method="post") 
                input(type="text" name="lastName" placeholder="Изменить фамилию")
                input(type="submit", value="Изменить")
        div
            form(action="", method="post") 
                input(type="text" name="password" placeholder="Изменить пароль")
                input(type="submit", value="Изменить")

    div 
        form(action="session?_method=DELETE", method="post")
            input(type="submit" value="Выйти")
        
        form(action="session/deleteUser?_method=DELETE" method="post")
            input(type="submit" value="Удалить аккаунт") 
        