extends ../layout/app.pug

block content
    form(action="/posts/search", method="post") 
        div.input-group.mb-3 
            input.form-control(type="text" name="searchParam" placeholder="Поиск" aria-label="Recipient's username" aria-describedby="button-addon2")
            button.btn.btn-outline-secondary(type="submit" id="button-addon2") Найти

    
    if posts.length === 0
        p По вашему запросу ничего не найдено
    else
        for post in posts
            div 
                h3 #{post.title} 
                p #{post.description}
                span Автор:#{post.author}
                form(action=`/posts/${post.id}`, method="get") 
                    input(type="submit", value="Читать")
            