extends ../layout/app.pug

block content
    form(action="/posts/search", method="post") 
        div.input-group.mb-3 
            input.form-control(type="text" name="searchParam" placeholder="Поиск" aria-label="Recipient's username" aria-describedby="button-addon2")
            button.btn.btn-outline-secondary(type="submit" id="button-addon2") Найти

    
    if posts.length === 0
        p По вашему запросу ничего не найдено
    else
        for post in posts
            div.card.mb-3
                div.card-header.text-primary.fw-normal.fs-3 #{post.title}
                div.card-body
                    h5.card-title #{post.description}
                    p.card-text Автор: #{post.author}
                    a.btn.btn-primary(href=`/posts/${post.id}`) Читать 